@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root {
  --primary-color: rgb(11, 111, 223);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open sans', sans-serif;
}

body, html{
  background-color: lightgray;
  height: 100vh;
}

header{
  background-color: var(--primary-color);
  color: white;
  font-size: 0.8em;
  display: flex;
  height: 52px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  box-shadow: 0px 1px 3px lightgray;
}

i#burger{
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  cursor: pointer;
  font-size: xx-large;
  
}

.header-menu{
  display: flex;
  box-shadow: 0px 1px 3px lightgray;
  height: 52px;
}

i#fechar{
  background-color: white;
  color: var(--primary-color);
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  cursor: pointer;
  font-size: xx-large;
  
}

.titulo-menu{
  background-color: white;
  width: 100%;
  height: 52px;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  padding: 9px 0px;
  color: var(--primary-color);
}

menu{
  display: none;
  background-color: white;
  width: 320px;
  height: 100vh;
  
  position: fixed;
  z-index: 1;
}

menu > ul{
  list-style-type: none;
  /*margin-top: 10px;*/
}

li{
  list-style: none;
}

menu > ul > li > a{
  display: block;
  text-decoration: none;
  
  padding: 15px 0px 15px 30px;
  color: var(--primary-color);
  font-size: 1.2em;
  border-bottom: 1px solid lightgray;
}

header > h1{
  
  margin: auto;
  
}

.header-space{
  height: 52px;
  width: 52px;
  background-color: var(--primary-color);
  right: 0px;
}

::-webkit-scrollbar{
  display: none;
}

.guia{
  display: flex;
  background-color: white;
  justify-content: space-between;
  box-shadow: 0px 1px 3px lightgray;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  margin-bottom: 15px;
  font-size: 0.8em;
}

i#btn-voltar{
  /*background-color: white;*/
  color: var(--primary-color);
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  cursor: pointer;
  font-size: xx-large;
}

.lista-guia{
  align-content: center;
  color: var(--primary-color);
}

.titulo-guia{
  display: none;
}

.titulo-selecionado{
  display: block;
}

i#btn-avancar{
  /*background-color: white;*/
  color: var(--primary-color);
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  cursor: pointer;
  font-size: xx-large;
}

/*.tabela{
  display: block;
  background-color: white;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  font-size: medium;
  font-weight: 600;
  box-shadow: 0px 1px 3px lightgray;
}*/



.tabela{
  display: none;
}

.selecionado{
  display: block;
}

table{
  border-collapse: collapse;
  
}

th{
  border-top: 1px solid lightgray;
}

th, td {
  background-color: white;
  border-bottom: 1px solid lightgray;
  padding: 5px;
  
}

.container {
  max-width: 640px;
  margin: 52px auto;
  background: #f5f5f5;
  padding: 20px;
  
}

.logo-campeonato{
  display: flex;
  max-height: 50px;
  max-width: 50px;
  margin: auto;
  align-content: center;
}

.logo-escudo{
  /*background-color: aquamarine;*/
  display: flex;
  margin: auto;
  max-height: 30px;
  max-width: 30px;
  padding: 2px;
}

.logo-escudo-alt-m, .logo-escudo-alt-v{
  /*background-color: aquamarine;*/
  display: flex;
  margin: auto;
  max-height: 80px;
  max-width: 80px;
  padding: 2px;
}

.logo-transmissão{
  display: flex;
  margin: 5px;
  max-height: 15px;
  /*max-width: 50px;*/
  padding: 2px;
  /*background-color: beige;*/
}

.logo-transmissão-alt{
  display: flex;
  margin: 5px;
  max-height: 80px;
  max-width: 80px;
  padding: 2px;
}

.celula-transmissao{
  font-weight: 100;
}

/*
#tabela-1{
  display: block;
}

#tabela-2{
  display: none;
}

#tabela-3{
  display: none;
}*/

.jogo{
  display: block;
  background-color: white;
  height: 90px;
  margin: 5px 0px;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  cursor: pointer;
}

.jogo-alt{
  display: block;
  background-color: white;
  height: 270px;
  margin: 5px 0px;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  cursor: pointer;
}

.jogo-heading{
  background-color: #f0f0f0;
  height: 20px;
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  
}

#fechar-jogo{
  height: 30px;
  
  font-weight: bold;
  color: var(--primary-color);
  align-content: center;
  /*background-color: rgb(55, 156, 151);*/
}

.jogo-heading > p{
  width: 20%;
  font-size: 0.8em;
  font-weight: bold;
  color: black;
  align-content: center;
  /*background-color: red;*/
  
}

.botao-fechar{
  text-align: right;
}

p.estadio{
  
  width: 60%;
  text-transform: uppercase;
  font-size: 0.8em;
  /*background-color: azure;*/
}

p.estadio-alt{
  
  width: 60%;
  text-transform: uppercase;
  font-size: 1em;
  /*background-color: azure;*/
}

.nome-time{
  /*background-color: blueviolet;*/
  margin: 0px 5px;
  text-transform: uppercase;
  font-size: 0.8em;
}

.nome-time-alt-m, .nome-time-alt-v{
  display: block; 
  height: 10px; 
  margin: auto; 
  text-align: center; 
  color: black;

  margin: 0px 5px;
  text-transform: uppercase;
  font-size: 0.8em;
}

.confronto{
  background-color: white;
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.confronto-alt{
  height: 120px;
}

.time-mandante{
  display: flex;
  width: 50%;
  /*background-color: darkgreen;*/
  justify-content: right;
}

.time-visitante{
  display: flex;
  width: 50%;
  /*background-color: darkgreen;*/
  justify-content: left;
}

.time-caixa-alt{
  display: block; 
  width: 37.5%; 
  height: 110px;
}

span{
  align-content: center;
  font-weight: bold;
  color: #606060;
}

.caixa-escudo-time{
  display: block;
  width: 80px;
  height: 80px;
  margin: auto;
}

.versus{
  /*background-color: maroon;*/
  padding: 0px 5px;
}

.caixa-datahora{
  display: block;
  justify-content: center;
  align-content: top;
  width: 25%;
  height: 80px;
}

.data-jogo-alt{
  display: block;
  font-size: 2.5em;
  height: 42px;
  padding: 0px 0px;
  text-align: center;
  color: black;
}

.horario-jogo-alt{
  display: block;
  font-size: 0.9em;
  padding: 0px;
  text-align: center;
  color: black;
}

.transmissao{
  border-top: 0.5px solid rgb(240, 240, 240);
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transmissao-alt{
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
}